<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= subject
    body
        | Gracias por preferirnos
        br
        | Compra con referente: #{ref}
        br
        | Monto gastado: #{monto}
        br
        | **En proceso de envío
        br
        | Los otros datos los podrás ver en tu cuenta de Stryfe